
body {
  position: relative;
  color: white;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.LDE_driver_layout{
  height: 100vh;
}

.LDE_driver_content{
  flex: 1
}

.ant-form-item-required::before{
  display: none !important;
}

.ant-btn,
.ant-menu,
.ant-layout,
.ant-upload-wrapper,
.ant-form,
.ant-input,
.ant-col,
.ant-table {
  font-family: Arial, Helvetica, sans-serif;
}